[Unit]
Description=Dashboard
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=homepage
Image=ghcr.io/gethomepage/homepage:latest

NoNewPrivileges=true
ReadOnly=true
DropCapability=all

PublishPort=127.0.0.1:8088:3000

Volume=/home/alex/configs/apps/homepage:/app/config:Z

Environment=HOMEPAGE_ALLOWED_HOSTS=homepage.homelab.ru
Environment=PUID=0
Environment=PGID=0

EnvironmentFile=/home/alex/data/homepage/.env

AutoUpdate=registry

[Service]
Restart=always
RestartSec=60s

[Install]
WantedBy=default.target

