[Unit]
Description=Data visualization, monitoring, and analysis
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=monitoring-grafana
Image=docker.io/grafana/grafana:latest

NoNewPrivileges=true
ReadOnly=true
DropCapability=all
User=0
Group=0

Pod=monitoring.pod

Volume=/home/alex/data/monitoring/grafana:/var/lib/grafana:Z

AutoUpdate=registry

[Service]
Restart=always
RestartSec=60s

[Install]
WantedBy=default.target

