[Unit]
Description=Qbittorrent
Wants=network-online.target
After=network-online.target

[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
ContainerName=qbittorrent

NoNewPrivileges=true

PublishPort=127.0.0.1:8082:8080

Volume=/home/alex/data/qbittorrent/config:/config:Z
Volume=/home/alex/shares/qbittorrent:/downloads:z

Environment=TZ=Europe/Moscow
Environment=PUID=0
Environment=PGID=0
Environment=TORRENTING_PORT=6881
Environment=WEBUI_PORT=8080

AutoUpdate=registry

[Service]
Restart=always
RestartSec=60s


[Install]
WantedBy=default.target

