[Unit]
Description=PDF-editor
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=stirling-pdf
Image=docker.io/stirlingtools/stirling-pdf:latest

NoNewPrivileges=true
DropCapability=all
AddCapability=CAP_CHOWN
AddCapability=CAP_SETUID
AddCapability=CAP_SETGID
AddCapability=CAP_DAC_OVERRIDE

PublishPort=127.0.0.1:8084:8080

Volume=/home/alex/data/stirling-pdf/tessdata:/usr/share/tessdata:Z
Volume=/home/alex/data/stirling-pdf/configs:/configs:Z
Volume=/home/alex/data/stirling-pdf/logs:/logs:Z
Volume=/home/alex/data/stirling-pdf/pipeline:/pipeline:Z

Environment=SECURITY_ENABLELOGIN=false
Environment=LANGS=ru_RU

AutoUpdate=registry

[Service]
Restart=always
RestartSec=60s

[Install]
WantedBy=default.target

