[Unit]
Description=Synchronization server
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=syncthing
Image=docker.io/syncthing/syncthing

NoNewPrivileges=true

PublishPort=127.0.0.1:8089:8384
PublishPort=21000:22000

Volume=/home/alex/shares/syncthing/bases:/var/syncthing/bases:z
Volume=/home/alex/shares/syncthing/data:/var/syncthing/data:z
Volume=/home/alex/data/syncthing:/var/syncthing/config:Z

Environment=PUID=0
Environment=PGID=0

AutoUpdate=registry

[Service]
Restart=always
RestartSec=60s

[Install]
WantedBy=default.target

