[Unit]
Description=Synchronization server
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=syncthing
Image=docker.io/syncthing/syncthing

NoNewPrivileges=true
ReadOnly=true
DropCapability=all
AddCapability=CAP_CHOWN
AddCapability=CAP_SETUID
AddCapability=CAP_SETGID
AddCapability=CAP_DAC_OVERRIDE

PublishPort=127.0.0.1:8089:8384
PublishPort=21000:22000

Volume=/home/alex/shares/syncthing/bases:/var/syncthing/bases:z
Volume=/home/alex/shares/syncthing/data:/var/syncthing/data:z
Volume=/home/alex/shares/syncthing/karina:/var/syncthing/karina:z
Volume=/home/alex/data/syncthing:/var/syncthing/config:Z

Environment=PUID=0
Environment=PGID=0

AutoUpdate=registry

[Service]
Restart=always
RestartSec=60s

[Install]
WantedBy=default.target

